@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;1,300;1,400;1,500&display=swap');



body {
    width: 100vh;
    background-color: white;
    margin: 0vh;
    padding: 0vh;
    
}

header {
    width: 100vh;
    height: 10vh;
    margin: 0vh;
    padding: 0vh;
    background-color: #0a9396;
    
}

.tamanio-logo {
    width: 12vh;
    height: 4vh;
    margin-top: 2vh; 
}

.img-inicio {
    width: 100vh;
    height: 50vh;  
    margin-top: 1vh;
}


h2 {
    color: white;
    text-align: center;
    margin: 0px;
    bottom: 0px;   
}

.texto-b {
    font-family: "Poppins", sans-serif; 
    font-size: 2vh;
    text-align: center;
    color: white;
    text-decoration: none;
}

.texto-n {
    font-family: "Poppins", sans-serif; 
    font-weight: 2vh;
    font-size: 2vh;
    text-align: center;
    color: black;
    text-decoration: none;
}

.flexbox-navegador {
    display: flex;
    align-items: center;
    justify-content: space-around;
}


.flexbox-centro {
    display: flex;
    margin: auto;
}

.a-click:hover {
    color: black;
}

.custom-hover:hover {
    color: black; /* Cambia el color al pasar el mouse */
  }

a {
    color: white;
    text-decoration: none;             /* sacamos el subrayado de los links */
}

li {
    list-style-type: none;           /* sacamos las viñetas de las listas */;
}

nav ul li {
    display: inline-block;           /* ponemos el menu en horizontal */
}

.conteiner-nosotros {
    display: flex;
    margin-top: 10vh;
    flex-direction: column-reverse;
    align-items: center;

}

.tamanio-divtexto {
    width: 80vh;
    height: 30vh; 
    margin-top: 5vh;
}


.tamanio-ministerio {
    width: 80vh;
    height: 50vh;
}

.icono-f {
    width: 3vh;
    height: 3vh; 
    display: block;
    margin-right: 2vh;
    margin-top: 1vh;
}

.flexbox-ubicar {
    display: flex;
}

p {
    text-align: left;  
}

footer{
    background-color:#0a9396;
    width: 100vh; 
    height: 12vh;
    padding-top:2vh;
}


/*.video-conteiner{
    display: flex;
    flex-direction: column;
    align-content: center;
    

}

.video-conteiner iframe {
    width: 100%;
    margin-bottom: 5vh;
    
}*/

.conteiner-link-img {
    position: relative;
    display: inline-block;
}


.link-text {
    position: absolute;
    top: 50%;
    left: 75%;
    transform: translate(-50%, -50%);
    background-color: #0a9396;
    padding: 5px 10px;  
    font-family: "Poppins", sans-serif; 
    font-size: 2vh;
    text-align: center;
    color: white;
    text-decoration: none;  
}

.texto2 {
    color: #0a9396;
    margin-bottom: 2vh;
    margin-top: 10vh;
    text-align: center;
}

.texto3 {
    color: white;
    text-align: left;
    font-size: 1.1vh;
}

.conteiner-piedepagina {
    display: flex;
    justify-content: space-between;
}

.junto {
    top: 0vh;
    padding-left: 5vh;
    margin: 0vh;
    bottom: 0vh;
}

.container {
    text-align: center;
    padding: 8vh;
 }

.tamanio-servicio{
   width: 15vh;
   height: 15vh;
}

.tamanio-servicio:hover {
    transform: scale(1.1);;
 }

.container-servicios {
    display: grid;
    grid-template-columns: 30vh 30vh;
    grid-template-rows: 30vh 30vh; 
    justify-content: center;
    justify-items: center;
    align-items: center;
    padding-top: 15vh;
    padding-bottom: 15vh;
 }

.centrar-form {
    width: 90vh;
    height: 40vh; 
    padding-top: 3vh;
    padding-bottom: 2vh;
    margin:auto;
}

.btn-ingresar {
    background-color: #0a9396;
    font-family: "Poppins", sans-serif; 
    color: white;
    border: none; /* Quita el borde del botón */
   /* padding: 1vh 2vh;  Espaciado interno */
    text-align: center;
    display: inline-block; /* Hace que el botón se comporte como un bloque */
    font-size: 2vh;
}


@media (min-width:768px) {

    body {
        width: 100vw;
        margin: 0vw;
        padding: 0vw;
        
    }
    
    header {
        width: 100vw;
        height: 6vw;
        margin: 0vw;
        padding: 0vw;
        background-color: #0a9396;;
        
    }

    .img-inicio {
        width: 100vw;
        height: 50vw;  
        margin-top: 1vw;
    }

    .tamanio-logo {
        width: 12vw;
        height: 4vw;
        margin-top: 1vw;
    }
    
    .texto-b {
        font-size: 2vw;
    }

    .texto-n {
        font-size: 2vw;
        text-align: center;  
    }

    .btn-ingresar {
        padding: 1vw 2vw; /* Espaciado interno */
        font-size: 2vw;
    }

    .link-text {
        font-size: 2vw;  
    }

    footer{
        background-color:#0a9396;
        width: 100vw; 
        height: 10vw;
        padding-top: 2vw;
    }

    .texto3 {
        color: white;
        text-align: left;
        font-size: 1.1vw;
    }

    .container-servicios {
        grid-template-columns: 21vw 21vw 21vw 21vw;
        grid-template-rows: none;
        padding-top: 15vw;
        padding-bottom: 15vw;
     }

    .tamanio-servicio {
        width: 15vw;
        height: 15vw;
    }

    .tamanio-divtexto {
        width: 75vw;
        height: 30vw; 
        margin-top: 5vw;
    }

    .centrar-form {
        width: 80vw;
        height: 40vw; 
        padding-top: 5vw;
        margin:auto;
    }

    .icono-f {
        width: 3vw;
        height: 3vw; 
        display: block;
        margin-right: 2vw;
        margin-top: 1vw;
    }
    

}

@media (min-width:1024px) {

    body {
        width: 100vw;
        margin: 0vw;
        padding: 0vw;
        
    }
    
    header {
        width: 100vw;
        height: 7vw;
        margin: 0vw;
        padding: 0vw;
        background-color: #0a9396;;
        
    }

    .img-inicio {
        width: 100vw;
        height: 50vw;  
        margin-top: 1vw;
    }

    .tamanio-logo {
        width: 17vw;
        height: 5vw;
        margin-top: 1vw;
    }
    
    .texto-b {
        font-size: 1.5vw;
    }

    .texto-n {
        font-size: 1.5vw;
        text-align: center;   
    }

    .form-label {
        font-size: 1.5vw;  
    }

    .btn-ingresar {
        /*padding: 1vw 2vw;  Espaciado interno */
        font-size: 1.5vw;
        padding: 0.3vw;
    
    }

    .link-text {
        font-size: 1.5vw;  
    }

    .tamanio-servicio img{
        width: 15vw;
        height: 15vw;
    }

    footer{
        background-color:#0a9396;
        width: 100vw; 
        height: 7vw;
        padding-top: 1vw;
    }

    .texto3 {
        color: white;
        text-align: left;
        font-size: 1.1vw;
    }

    .container-servicios {
        grid-template-columns: 21vw 21vw 21vw 21vw;
        grid-template-rows: none; 
        padding-top: 15vw;
        padding-bottom: 15vw;
     }

    .tamanio-divtexto {
        width: 75vw;
        height: 30vw; 
        margin-top: 5vw;
    }
    
    .centrar-form {
        width: 50vw;
        height: 30vw; 
        padding-top: 5vw;
        margin:auto;
    }

    .icono-f {
        width: 3vw;
        height: 3vw; 
        display: block;
        margin-right: 2vw;
        margin-top: 1vw;
    }

}